[submodule "graph-coloring"]
	path = graph-coloring
	url = https://github.com/LSG8/graph-coloring
[submodule "tsp"]
	path = random-mixed-local-search-TSP
	url = https://github.com/LSG8/random-mixed-local-search-TSP.git
